<html>
  <head>
    <title>OrdanzaProject</title>
    <style>
      table {
        width: 50%;
        margin: 20px auto;
        border-collapse: collapse;
      }

      th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: center;
      }

      button {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #030303;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
    <link rel="stylesheet" href="app.component.css">
  </head>
  <body>
    <h1 style="text-align: center;">APPDEV1 Ordanza, Jerome</h1>
    <h1 style="text-align: center;">OrdanzaProject</h1>
    <button>Click Here</button>
    <h2 style="text-align: center;">A table</h2>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>First</th>
          <th>Last</th>
          <th>Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>mcdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>twitter</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>